<div class="container justify-content-center">
  <div class="form-container">

    <% if current_user.id == @rental.product.user_id  %>

    <div class="container justify-content-center col-sm-6">
      <h3>Avaliação do Usuário</h3>
        <%= simple_form_for [ @rental ] do |f| %>
        <%= f.input :renter_review, label: 'Deixe seu comentário' %>
        <%= f.submit "Enviar avaliação", class: "btn btn-ghost" %>
        <% end %>
    </div>

    <% elsif current_user.id == @rental.user_id  %>

    <div class="container justify-content-center col-sm-6">
      <h3>Avaliação do Proprietário</h3>
        <%= simple_form_for [ @rental ] do |f| %>
        <%= f.input :costumer_review, label: 'Deixe seu comentário' %>
        <%= f.submit "Enviar avaliação", class: "btn btn-ghost" %>
        <% end %>
    </div>

    <% else %>

        <p>Não autorizado</p>

    <% end %>
  </div>
</div>
