<% if current_user.id == @rental.product.user_id || current_user.id == @rental.user_id %>
<div class="container">
  <div>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="box-product">
    <div class="img-product">
        <% if @rental.product.photo.attached? %>
        <%= cl_image_tag @rental.product.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "https://res.cloudinary.com/dzml8ygng/image/upload/v1600970816/bicicleta-c255c8fd010a02d89702c6050d626217293e3ed9889eb28e287d16e69917f5d2_ziqhsf.jpg", style: "height:300px; width:400px" %>
        <% end %>
    </div>

    <div class="description-container">
      <p>
        <strong>Equipamento:</strong>
        <%= @rental.product.description %>
      </p>

      <p>
        <strong>Período:</strong>
        <%= @rental.begin_date.strftime("%d/%m/%Y") %> a <%= @rental.end_date.strftime("%d/%m/%Y") %>
      </p>

      <p>
        <strong>Total:</strong>
        R$ <%= "%.2f" % (@rental.rental_price.to_f/100) %>
      </p>

      <p>
        <strong>Contato <%= current_user.id == @rental.user_id ? "proprietário" : "usuário" %>:</strong>
        <%= current_user.id == @rental.user_id ? User.find(@rental.product.user_id).email : User.find(@rental.user_id).email %>
      </p>
    </div>
    <div>
      <%= link_to 'Enviar Avaliação', review_path, class: "btn btn-ghost" %>
      <%= link_to 'Voltar', root_path, class: "btn btn-ghost" %>
      
    </div>
  </div>
</div>
<% if current_user.id == @rental.product.user_id  %>
    <div class="review-container mt-20">

        <table class="table table-borderless">
            <thead>Comentários
            <% if @reviews.size.positive? %>
                <tr>
                <th scope="col">Produto</th>
                <th scope="col">Comentário</th>
                </tr>
            </thead>
            <tbody>
                <% @reviews.keys.each do |prod| %>
                <tr>
                <td><%= prod %></td>  
                <td><%= @reviews[prod] %></td>
                </tr>
                <% end %>
                <% else %>
                <p>Seja o primeiro a comentar</p>
                <% end %>
            </tbody>
        </table>
<% end %>            
            
    </div>
<% else %>
    <p>Acesso não autorizado</p>
<%= link_to 'Voltar', root_path, class: "btn btn-ghost" %>
<% end %>
