<% if current_user.id == @rental.product.user_id || current_user.id == @rental.user_id %>
<div class="container">
    <p id="notice"><%= notice %></p>

    <%= image_tag "bicicleta", style: "height:100px; width:100px" %>

    <p>
    <strong>Equipamento:</strong>
    <%= @rental.product.description %>
    </p>

    <p>
    <strong>Período:</strong> From 
    <%= @rental.begin_date %> to <%= @rental.end_date %>
    </p>

    <p>
    <strong>Total:</strong>
    <%= @rental.rental_price.to_f/100 %>
    </p>

    <p>
    <strong>Contacto proprietário:</strong>
    <%= User.find(@rental.product.user_id).email %>
    </p>
    <%= link_to 'Enviar Avaliação', review_path, class: "btn btn-ghost" %>
    <%= link_to 'Back', root_path, class: "btn btn-ghost" %>
</div>
<% else %>

    <p>unautorized</p>
<%= link_to 'Back', root_path, class: "btn btn-ghost" %>
<% end %>
