<div class="banner d-flex col-sm-12" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="banner-container">
    <div class="col-md-6 pl-100">
      <h1>Seja <strong>livre</strong> para escolher</h1>
      <p>Pratique um novo esporte todos os dias. Encontre qualquer equipamento perto de você.</p>
    </div>
  </div>
  <div class="box-search col-sm-5">
    <div>
      <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Encontre um equipamento"
      %>
      <p></p>
      <%= submit_tag "Buscar", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
<div class="flex-container">
  <%= link_to products_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1525289792728-f43da278fcd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80)">Busque seu equipamento</div>
  <% end %>
  <% if @user == current_user %>
  <%= link_to new_user_registration_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1569074187119-c87815b476da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80)">Abra sua conta</div>
  <% end %>
  <% else %>
  <%= link_to rental_list_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1569074187119-c87815b476da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80)">Listar Aluguéis</div>
  <% end %>
  <% end %>
  <% if @user == current_user %>
  <%= link_to new_user_session_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1495555687398-3f50d6e79e1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">Alugue seu equipamento</div>
  <% end %>
  <% else %>
  <%= link_to new_product_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1495555687398-3f50d6e79e1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">Alugue seu equipamento</div>
  <% end %>
  <% end %>
</div>
