<div class="container justify-content-center col-sm-6">
  <div class="form-container">


    <h1>Alterar dados do equipamento</h1>


    <%= simple_form_for(@product) do |f| %>
    <% @product.price = @product.price.to_f/100 %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :description, label: "Produto" %>
      <%= f.input :address, label: "Endereço" %>
      <%= f.input :price, label: "Preço" %>
      <%= f.input :photo, as: :file, label: "Inserir imagem" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, value: "Atualizar produto", class: "btn btn-ghost" %>
    </div>
  <% end %>
    <%= link_to 'Voltar', product_path, class: "btn btn-ghost" %>
  </div>
</div>
