<div class="products-container">
  <div class="container justify-content-between col-sm-7">
    <div class="container">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Busca por equipamento
          </button>
        </div>
      <% end %>
    </div>
    <div class="cards">
    <% @products.each do |product| %>
      <div class="card-product">                
        <% if product.photo.attached? %>
          <%= cl_image_tag product.photo.key, height: 75, width: 100, crop: :fill %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dzml8ygng/image/upload/v1600970816/bicicleta-c255c8fd010a02d89702c6050d626217293e3ed9889eb28e287d16e69917f5d2_ziqhsf.jpg", style: "height:75px; width:100px" %> 
        <% end %>
        <div class="card-product-infos">
          <%= link_to product_path(product) do %>
          <h2><%= product.description %></h2>
          <% end %>
          <p>R$ <%= product.price.to_f / 100 %>
          <% if product.user == current_user %>
          <p>Seu equipamento</p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container col-sm-5">
    <div id="map">
      <h2>Mapa</h2>
    </div>
  </div>
</div>
