<div class="products-container">
  <div class="container justify-content-between col-sm-7">

    <div class="box-search">
      <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-search",
        placeholder: "Encontre um equipamento"
      %>
      <%= submit_tag "Buscar", class: "btn btn-info" %>
      <% end %>
    </div>

    <div class="cards">
      <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
      <div class="card-product">
        <% if product.photo.attached? %>

        <%= cl_image_tag product.photo.key, height: 75, width: 100, crop: :fill %>
        <% else %>
        <%= image_tag "https://res.cloudinary.com/dzml8ygng/image/upload/v1600970816/bicicleta-c255c8fd010a02d89702c6050d626217293e3ed9889eb28e287d16e69917f5d2_ziqhsf.jpg", style: "height:75px; width:100px" %>

        <% end %>
        <div class="card-product-infos">
          <h2><%= product.description %></h2>
          <p>R$ <%= "%.2f" % (product.price.to_f / 100) %> ao dia</p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>


  </div>
  <div class="container col-sm-5">
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
