<div class="products-container">
  <div class="container justify-content-between col-sm-7">

    <div class="box-search">
      <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-search",
        placeholder: "Encontre um novo equipamento"
      %>
      <%= submit_tag "Buscar", class: "btn btn-info" %>
      <% end %>
    </div>

    <div class="cards">
      <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
      <div class="card-product">
        <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, height: 75, width: 100, crop: :fill %>
        <% else %>
        <%= image_tag "ccc", style: "height:75px; width:100px" %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= product.description %></h2>
          <p>R$ <%= product.price.to_f / 100 %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
